  
body {
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: inline-block;
    position: relative;
    width: 800px;
    margin-top: 80px;
    margin-left: calc( (100% - 800px) / 2 );
    }
    .container > .left {
        display: inline-block;
        position:absolute;
        width: 40%;
        height: 480px;
        float: left;
        top:20px;
        background-image: url(../img/signin.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
        .container > .left > h1 {
            display: inline-block;
            width: 100%;
            padding: 40px;
        }
        .container > .left > footer {
            display: inline-block;
            width: 100%;
            padding: 320px 50px 0 50px;
            color: white;
        }
    .container > .right {
        display: inline-block;
        position: relative;
        width: 60%;
        float: right;
        padding: 60px;
        background-color: #fff;
    }